.statisticsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem; /* Increase padding for spacious look */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow-y: none;
  width: 350px;
}

.statisticItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.statisticItem:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Highlight on hover */
}

.icon {
  font-size: 4rem; /* Larger icon size for better visibility */
  margin-right: 2rem; /* Space between icon and text */
}

/* Color-coded styles for each category */
.massacres {
  color: #ff6347;
} /* Example color for massacres */
.killed {
  color: #ff4500;
}
.children {
  color: #ff69b4;
}
.women {
  color: #ff1493;
}
.civilDefence {
  color: #ffd700;
}
.press {
  color: #8a2be2;
}
.medical {
  color: #48d1cc;
}
.injured {
  color: #1e90ff;
}

.statisticValue {
  font-size: 2rem; /* Increase value font size for readability */
  font-weight: bold; /* Bold for emphasis */
  margin-right: 0.5rem;
}

.statisticLabel {
  font-size: 2rem; /* Slightly smaller than value */
  color: var(--text-secondary); /* Secondary text color */
}
