.mapContainer {
  flex: 1; /* Take available space */
  height: 100%; /* Full height of parent */
  background-color: var(--color-dark--2);
  position: relative; /* For absolute positioning of map elements */
  overflow: hidden; /* Prevent overflow if necessary */
}

.map {
  height: 100%; /* Ensure map occupies full height of container */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .map {
    font-size: 1.2rem; /* Adjust font size in popups for smaller screens */
  }
}
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: #121212;
  min-height: 100vh;
}
