.container {
  background-color: var(--color-card-bg);
  padding: 2rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: var(--font-size-subtitle);
  color: var(--color-light--1);
  margin-bottom: 2rem;
  text-align: center;
}

.chartsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  position: relative;
  z-index: 1;
  flex-grow: 1;
}

.circleWrapper {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.circle {
  width: 200px;
  height: 200px;
  transform: rotate(-180deg);
  transition: all 0.3s ease;
}

.percentageText {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-subtitle);
  font-weight: 800;
}

.labelText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-text);
  text-align: center;
  width: 100%;
  font-weight: 600;
}

.dashboard {
  background-color: var(--color-dark--1);
  padding: 2rem;
  font-size: var(--font-size-text);
  color: var(--color-light--2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  position: relative;
  z-index: 1;
  border-radius: var(--border-radius);
}

@media (max-width: 1024px) {
  .dashboard {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .chartsContainer {
    flex-direction: column;
    align-items: center;
  }

  .circleWrapper {
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .container {
    min-height: auto;
    padding: 1rem;
  }

  .title {
    font-size: calc(var(--font-size-subtitle) * 0.8);
  }

  .chartsContainer {
    gap: 1rem;
  }

  .circleWrapper {
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
  }

  .circle {
    width: 150px;
    height: 150px;
  }

  .percentageText {
    font-size: calc(var(--font-size-subtitle) * 0.8);
  }

  .labelText {
    font-size: calc(var(--font-size-text) * 0.9);
  }

  .dashboard {
    font-size: calc(var(--font-size-text) * 0.8);
    padding: 1rem;
    margin-top: 1rem;
  }
}
