.statisticsContainer {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of circles */
  justify-content: center; /* Center align the circles */
  gap: 1.6rem; /* Increased space between circles */
  margin-top: 2rem; /* Margin above the circles */
}

.statisticItem {
  background: linear-gradient(
    145deg,
    var(--color-dark--2),
    var(--color-dark--3)
  );
  color: var(--color-light--2);
  width: 14rem; /* Circle diameter */
  height: 14rem; /* Circle diameter */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the text vertically */
  align-items: center; /* Center the text horizontally */
  border-radius: 50%; /* Makes the element circular */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.1); /* Enhanced shadow for depth */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth scale effect on hover */
}

.statisticItem:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.statisticLabel {
  font-size: 1.2rem; /* Adjust font size */
  text-align: center; /* Center text */
  font-weight: 600; /* Semi-bold text */
  color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Slightly transparent white for better readability */
}

.statisticValue {
  font-size: 3.2rem; /* Adjust value size */
  color: var(--color-accent); /* Use a defined accent color */
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle text shadow for depth */
}
